coverage==4.0.3
dj-database-url==0.3.0
dj-static==0.0.6
Django==1.8.6
django-bootstrap3==6.2.2
django-debug-toolbar==1.4
django-toolbelt==0.0.1
elo==0.1
gunicorn==19.3.0
numpy==1.11.2
psycopg2==2.6.1
sendgrid==1.4.0
sendgrid-django==1.4.0
smtpapi==0.2.0
sqlparse==0.1.18
static3==0.6.1
wheel==0.24.0
