{% extends 'bootstrap.html' %}

{% load bootstrap3 %}

{% block bootstrap3_content %}
    <div style="clear: both" class="container" xmlns="http://www.w3.org/1999/html">
        <h1 style="float: left">
            {{ title }}
        </h1>


        <div id="userinfo">
            <br>
            <h5 style="float: right;">
            {% if user.is_authenticated %}
                welcome, <a style="color: #000" href="{% url 'users' %}?id={{ user.id }}"> {{ user.username }}</a> | <a href="{% url 'logout' %}">logout</a>
            {% else %}
                <form style="display: inline;" action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <input name="username" type="text" placeholder="username">
                    <input name="password" type="password" placeholder="password">
                    <input type="submit" value="login">
                </form>
                <a href="{% url 'register' %}"><button style="color: #000;">register</button></a>


            {% endif %}
            </h5>
        </div>

        {% if nav_links %}
            <br>
            <br>
            <br>
            <div style="float: left">
                {% for link in nav_links %}
                    <a style="color: #000;padding-right: 10px;font-weight: 600;text-decoration: underline" href="{{ link.1 }}">// {{ link.0 }} </a>
                {% endfor %}
            </div>
        {% endif %}

    </div>

    <div class="container">

    {% bootstrap_messages %}

    <br>

    {% block content %}(no content){% endblock %}

    </div>

{% endblock %}
