{% extends 'base.html' %}

{% load bootstrap3 %}
{% load static %}

{% block bootstrap3_extra_head %}
    <script src="{% static "js/sorttable.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/tables.css' %}">
{% endblock %}

{% block content %}

<table class="sortable" border="1" align="center" style="width:95%">
        <tr style="line-height: 15px;font-size: small;
        color: #ffffff;font-weight: 600;padding: 10px;text-align: match-parent">
            <td style="background-color: #3d393f">USER</td>
            <td style="background-color: #3d393f">PLAYSIDE</td>
            <td style="background-color: #3d393f">REVIEW TEXT</td>
            <td style="background-color: #3d393f">RECOMMENDED OPTIONS</td>
            <td style="background-color: #3d393f">NC RATING</td>
            <td style="background-color: #3d393f">HC RATING</td>
            <td style="background-color: #3d393f">EXHC RATING</td>
            <td style="background-color: #3d393f">SCORE RATING</td>
        </tr>
    {% for review in reviews %}
        <tr style="line-height: 150%">
            <td class="username_col"><a style="color: #000;" href="{% url 'users' %}?id={{ review.user_id }}">{{ review.user }}</a></td>
            <td class="playside_col">{{ review.playside }}</td>
            <td class="reviewtext_col">
                {{ review.text }}
                    {% if review.characteristics %}
                        <b>({{ review.characteristics }})</b>
                    {% endif %}
            </td>
            <td class="options_col">{{ review.recommended_options }}</td>
            <td class="nc_col">{{ review.clear_rating | default:"--" }}</td>
            <td class="hc_col">{{ review.hc_rating | default:"--" }}</td>
            <td class="exhc_col">{{ review.exhc_rating | default:"--" }}</td>
            <td class="score_col">{{ review.score_rating | default:"--" }}</td>
        </tr>
    {% endfor %}
</table>

{% if form %}
<form style="width: 40%;margin: auto;padding-top: 2em" action="{{ request.get_full_path }}" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            Submit
        </button>
    {% endbuttons %}
</form>
{% endif %}

{% endblock %}