{% extends 'base.html' %}

{% load bootstrap3 %}
{% load static %}
{% load i18n %}

{% block bootstrap3_extra_head %}
    <script src="{% static "js/sorttable.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/tables.css' %}">
{% endblock %}

{% block content %}

{% block reviews_table %}
{% endblock %}

{% if form %}
<form style="align-content: center;width: 400px;margin: auto;padding-top: 2em" action="{{ request.get_full_path }}" method="post">
    <div align="center" style="font-weight: 500;line-height: 1.5em">{% trans 'please only rate clears you have achieved.' %}</div><br>
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% trans 'submit' %}
        </button>
        {% if review_exists %}
        <input class="btn btn-danger" type="button" onclick="location.href='{% url 'chart' chart_id=chart_id%}?delete=true';" value="{% trans 'delete' %}" />
        {% endif %}
    {% endbuttons %}
</form>
{% endif %}

{% endblock %}