{% extends 'base.html' %}

{% load bootstrap3 %}
{% load static %}
{% load i18n %}
{% load sass_tags %}

{% block bootstrap3_extra_head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% sass_src 'css/index.scss' %}">
{% endblock %}

{% block content %}
    <div class="index-div">
        {% for link in index_links %}
            <a href="{{ link.1 }}" class="index-link">//{{ link.0 }}</a><br/><br/>
        {% endfor %}
    </div>
    <div align="center">{% trans 'please direct questions/suggestions to dybbuk or jagman1x3 via PM or IRC' %}</div>
{% endblock %}
