{% extends 'ratings.html' %}

{% load i18n %}
{% load sass_tags %}

{% block bootstrap3_extra_head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% sass_src 'css/iidx-table.scss' %}">
{% endblock %}

{% block chart_table %}
<div align="center">
        {% trans 'songs are rated from 1.0 to 14.0 (13.0 = 12.11)' %}
        <br>{% trans "click a song's title for more info, or click table headers to sort." %}
        <br>{% trans 'red ratings indicate clickagain as default' %}
    </div>

    <br>

    <div class="table-responsive">
        <table class="table table-bordered sortable">
            <thead>
                <tr>
                    <th>VER</td>
                    <th>LV</td>
                    <th>{% trans 'SONG TITLE' %}</td>
                    <th>{% trans 'NOTE COUNT ' %}</td>
                    <th>{%  trans 'NC RATING ' %}</td>
                    <th>{% trans 'HC RATING ' %}</td>
                    <th>{% trans 'EXHC RATING ' %}</td>
                    <th>{% trans 'SCORE RATING ' %}</th>
                </tr>
            </thead>
            <tbody>
            {% for chart in charts %}
                <tr>
                    <td class="ver" sorttable_customkey="{{ chart.game_version }}">{{ chart.game_version_display }}</td>
                    {% if 'N' in chart.type_display %}
                        <td class="lv normal">
                    {% elif 'H' in chart.type_display %}
                        <td class="lv hyper">
                    {% else %}
                        <td class="lv another">
                    {% endif %}
                    {% if chart.has_reviewed %}
                            <b>{{ chart.difficulty }}★</b>
                    {% else %}
                            <b>{{ chart.difficulty }}☆</b>
                    {% endif %}
                        </td>
                    <td class="title" sorttable_customkey="{{ chart.alt_title }}">
                        <a href="{% url 'chart' chart_id=chart.id %}"> {{ chart.title }}</a>
                    </td>
                    <td class="notecount">{{ chart.note_count }}</td>
                    {% if chart.clickagain_nc %}
                        <td class="nc clickagain">{{ chart.avg_clear_rating | default:"--" }}</td>
                    {% else %}
                        <td class="nc">{{ chart.avg_clear_rating | default:"--" }}</td>
                    {% endif %}
                    {% if chart.clickagain_hc %}
                        <td class="hc clickagain">{{ chart.avg_hc_rating | default:"--" }}</td>
                    {% else %}
                        <td class="hc">{{ chart.avg_hc_rating | default:"--" }}</td>
                    {% endif %}
                    <td class="exhc">{{ chart.avg_exhc_rating | default:"--" }}</td>
                    <td class="score">{{ chart.avg_score_rating | default:"--" }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}