{% extends 'ratings.html' %}

{% load i18n %}

{% block chart_table %}
<div align="center" style="width: 1100px; font-weight: 500;line-height: 1.5em">
        {% trans 'songs are rated from 1.0 to 21.0' %}
        <br>{% trans "click a song's title for more info, or click table headers to sort." %}
{#        <br>{% trans 'red ratings indicate ddr community as default' %}#}
    </div>

    <br>

    <table class="sortable" border="1" align="center" style="width:1100px">
        <tr style="line-height: 15px;font-size: small;
        color: #ffffff;font-weight: 600;padding: 10px;text-align: match-parent">
            <td style="background-color: #3d393f;width: 5%">VER</td>
            <td class="sorttable_numeric" style="background-color: #3d393f;width: 5%">LV</td>
            <td class="sortable_alpha" style="background-color: #3d393f;width: 41%">{% trans 'SONG TITLE' %}</td>
            <td style="background-color: #3d393f;width: 7%">{% trans 'NOTE COUNT ' %}</td>
            <td style="background-color: #3d393f;width: 7%">{% trans 'BPM ' %}</td>
            <td style="background-color: #3d393f;width: 7%">{% trans 'CLEAR RATING ' %}</td>
            <td style="background-color: #3d393f;width: 7%">{% trans 'SCORE RATING ' %}</td>
        </tr>
    {% for chart in charts %}
        <tr>
            <td class="ver_col" sorttable_customkey="{{ chart.game_version }}">{{ chart.game_version_display }}</td>
            {# Get color based on difficulty - BEG, BSP, DSP, ESP, CSP/DP #}
            {% if 'G' in chart.type_display %}
                <td class="lv_col" style="color: #1822d6;">
            {% elif 'B' in chart.type_display %}
                <td class="lv_col" style="color: #a69b43;">
            {% elif 'C' in chart.type_display %}
                <td class="lv_col" style="color: #551a8b;">
            {% elif 'E' in chart.type_display %}
                <td class="lv_col" style="color: #228B22;">
            {% else %}
                <td class="lv_col" style="color: #c62c4a;">
            {% endif %}
            {% if chart.has_reviewed %}
                    <b>{{ chart.difficulty }}★</b>
            {% else %}
                    <b>{{ chart.difficulty }}☆</b>
            {% endif %}
                </td>
            <td class="title_col" sorttable_customkey="{{ chart.alt_title }}"><a style="color: #000;" href="{% url 'chart' chart_id=chart.id %}"> {{ chart.title }}</a></td>
            <td class="notecount_col">{{ chart.note_count }}</td>
            {% if chart.bpm_min == chart.bpm_max %}
                <td class="bpm_col">{{ chart.bpm_min | default:"--" }}</td>
            {% else %}
                <td class="bpm_col">{{ chart.bpm_min }} - {{ chart.bpm_max }}</td>
            {% endif %}
            <td class="nc_col">{{ chart.avg_clear_rating | default:"--" }}</td>
            <td class="score_col">{{  chart.avg_score_rating | default:"--" }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}