{% extends 'base.html' %}

{% load bootstrap3 %}
{% load static %}
{% load i18n %}

{% block bootstrap3_extra_head %}
    <script src="{% static "js/sorttable.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/tables.css' %}">
{% endblock %}

{% block content %}

    <div align="center" style="width: 1100px;word-spacing: .5em">
        SP |&nbsp;
    {% for version in versions %}
        <a style="color: #000;" href="{{ version.1 }}"><b>{{ version.0 }}</b></a>
    {% endfor %}
    </div>

    <div align="center" style="width: 1100px;word-spacing: .5em">
        DP |&nbsp;
    {% for version in versions %}
        <a style="color: #000;" href="{{ version.1 }}&style=DP"><b>{{ version.0 }}</b></a>
    {% endfor %}
    </div>

    <br>

    <div align="center" style="width: 1100px;word-spacing: .5em">
    SP |&nbsp;
    {% for level in levels %}
        <a style="color: #000;" href="{{ level.1 }}"><b>{{ level.0 }}</b></a>
    {% endfor %}
     &nbsp; DP |&nbsp;
    {% for level in levels %}
        <a style="color: #000;" href="{{ level.1 }}&style=DP"><b>{{ level.0 }}</b></a>
    {% endfor %}
    </div>

    <br>
    <br>

    {% block chart_table %}
    {% endblock %}

{% endblock %}