{% extends 'base.html' %}

{% load bootstrap3 %}
{% load static %}
{% load i18n %}
{% load sass_tags %}

{% block bootstrap3_extra_head %}
    {{ block.super }}
    <script src="{% static 'js/sorttable.js' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/ratings.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% sass_src 'css/ratings.scss' %}">
{% endblock %}

{% block content %}
    <div class="form-inline">
        <div class="form-group">
            <select class="col-xs-3 form-control">
                <option selected disabled hidden>SP - Version</option>
                {% for version in versions %}
                    <option value="{{ version.1 }}">{{ version.0 }}</option>
                {% endfor %}
            </select>
            <select class="col-xs-3 form-control">
                <option selected disabled hidden>SP - Level</option>
                {% for level in levels %}
                    <option value="{{ level.1 }}">{{ level.0 }}</option>
                {% endfor %}
            </select>
            <select class="col-xs-3 form-control">
                <option selected disabled hidden>DP - Version</option>
                {% for version in versions %}
                    <option value="{{ version.1 }}&style=DP">{{ version.0 }}</option>
                {% endfor %}
            </select>
            <select class="col-xs-3 form-control">
                <option selected disabled hidden>DP - Level</option>
                {% for level in levels %}
                    <option value="{{ level.1 }}&style=DP">{{ level.0 }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="chart-help">
        {% block chart_help %}
        {% endblock %}
    </div>

    {% block chart_table %}
    {% endblock %}

{% endblock %}