{% extends 'ratings.html' %}

{% load i18n %}
{% load sass_tags %}

{% block bootstrap3_extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% sass_src 'css/ddr-table.scss' %}"/>
{% endblock %}

{% block chart_table %}
<div align="center">
        {% trans 'songs are rated from 1.0 to 21.0' %}
        <br>{% trans "click a song's title for more info, or click table headers to sort." %}
{#        <br>{% trans 'red ratings indicate ddr community as default' %}#}
    </div>

    <br>

    <div class="table-responsive">
        <table class="table table-bordered sortable">
            <thead>
                <th>VER</th>
                <th>LV</th>
                <th>{% trans 'SONG TITLE' %}</th>
                <th>{% trans 'NOTE COUNT ' %}</th>
                <th>{% trans 'BPM ' %}</th>
                <th>{% trans 'CLEAR RATING ' %}</th>
                <th>{% trans 'SCORE RATING ' %}</th>
            </thead>
            <tbody>
            {% for chart in charts %}
                <tr>
                    <td class="ver" sorttable_customkey="{{ chart.game_version }}">{{ chart.game_version_display }}</td>
                    {% if 'G' in chart.type_display %}
                        <td class="lv beginner">
                    {% elif 'B' in chart.type_display %}
                        <td class="lv basic">
                    {% elif 'C' in chart.type_display %}
                        <td class="lv challenge">
                    {% elif 'E' in chart.type_display %}
                        <td class="lv expert">
                    {% else %}
                        <td class="lv difficult">
                    {% endif %}
                    {% if chart.has_reviewed %}
                            <b>{{ chart.difficulty }}★</b>
                    {% else %}
                            <b>{{ chart.difficulty }}☆</b>
                    {% endif %}
                        </td>
                    <td class="title" sorttable_customkey="{{ chart.alt_title }}">
                        <a href="{% url 'chart' chart_id=chart.id %}"> {{ chart.title }}</a>
                    </td>
                    <td class="notecount">{{ chart.note_count }}</td>
                    {% if chart.bpm_min == chart.bpm_max %}
                        <td class="bpm">{{ chart.bpm_min | default:"--" }}</td>
                    {% else %}
                        <td class="bpm">{{ chart.bpm_min }} - {{ chart.bpm_max }}</td>
                    {% endif %}
                    <td class="nc">{{ chart.avg_clear_rating | default:"--" }}</td>
                    <td class="score">{{  chart.avg_score_rating | default:"--" }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}