{% extends 'base.html' %}

{% load bootstrap3 %}
{% load static %}
{% load i18n %}

{% block bootstrap3_extra_head %}
    <script src="{% static "js/sorttable.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/tables.css' %}">
{% endblock %}

{% block content %}

    <div align="center" style="word-spacing: .5em">
        SP |&nbsp;
    {% for version in versions %}
        <a style="color: #000;" href="{{ version.1 }}"><b>{{ version.0 }}</b></a>
    {% endfor %}
    </div>

    <div align="center" style="word-spacing: .5em">
        DP |&nbsp;
    {% for version in versions %}
        <a style="color: #000;" href="{{ version.1 }}&style=DP"><b>{{ version.0 }}</b></a>
    {% endfor %}
    </div>

    <br>

    <div align="center" style="word-spacing: .5em">
    SP |&nbsp;
    {% for level in levels %}
        <a style="color: #000;" href="{{ level.1 }}"><b>{{ level.0 }}</b></a>
    {% endfor %}
     &nbsp; DP |&nbsp;
    {% for level in levels %}
        <a style="color: #000;" href="{{ level.1 }}&style=DP"><b>{{ level.0 }}</b></a>
    {% endfor %}
    </div>

    <br>
    <br>

    <div align="center" style="font-weight: 500;line-height: 1.5em">
        {% trans 'songs are rated from 1.0 to 14.0 (13.0 = 12.11)' %}
        <br>{% trans "click a song's title for more info, or click table headers to sort." %}
        <br>{% trans 'red ratings indicate clickagain as default' %}.
    </div>

    <br>

    <table class="sortable" border="1" align="center" style="width:85%">
        <tr style="line-height: 15px;font-size: small;
        color: #ffffff;font-weight: 600;padding: 10px;text-align: match-parent">
            <td style="background-color: #3d393f;width: 5%">VER</td>
            <td class="sorttable_numeric" style="background-color: #3d393f;width: 5%">LV</td>
            <td class="sortable_alpha" style="background-color: #3d393f;width: 41%">{% trans 'SONG TITLE' %}</td>
            <td style="background-color: #3d393f;width: 7%">{% trans 'NOTE COUNT' %}</td>
            <td style="background-color: #3d393f;width: 7%">{%  trans 'NC RATING' %}</td>
            <td style="background-color: #3d393f;width: 7%">{% trans 'HC RATING' %}</td>
            <td style="background-color: #3d393f;width: 7%">{% trans 'EXHC RATING' %}</td>
            <td style="background-color: #3d393f;width: 7%">{% trans 'SCORE RATING' %}</td>
        </tr>
    {% for chart in charts %}
        <tr>
            <td class="ver_col" sorttable_customkey="{{ chart.game_version }}">{{ chart.game_version_display }}</td>
            {% if 'N' in chart.type_display %}
                <td class="lv_col" style="color: #1822d6;">
            {% elif 'H' in chart.type_display%}
                <td class="lv_col" style="color: #a69b43;">
            {% else %}
                <td class="lv_col" style="color: #c62c4a;">
            {% endif %}
            {% if chart.has_reviewed %}
                    <b>{{ chart.difficulty }}★</b>
            {% else %}
                    <b>{{ chart.difficulty }}☆</b>
            {% endif %}
                </td>
            <td class="title_col" sorttable_customkey="{{ chart.alt_title }}"><a style="color: #000;" href="{% url 'chart' %}?id={{ chart.id }}"> {{ chart.title }}</a></td>
            <td class="notecount_col">{{ chart.note_count }}</td>
            {% if chart.clickagain_nc %}
                <td class="nc_col" style="color: #f11137;;">{{ chart.avg_clear_rating | default:"--" }}</td>
            {% else %}
                <td class="nc_col">{{ chart.avg_clear_rating | default:"--" }}</td>
            {% endif %}
            {% if chart.clickagain_hc %}
                <td class="hc_col" style="color: #f11137;;">{{ chart.avg_hc_rating | default:"--" }}</td>
            {% else %}
                <td class="hc_col">{{ chart.avg_hc_rating | default:"--" }}</td>
            {% endif %}
            <td class="exhc_col">{{ chart.avg_exhc_rating | default:"--" }}</td>
            <td class="score_col">{{ chart.avg_score_rating | default:"--" }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}