{% extends 'base.html' %}

{% load bootstrap3 %}
{% load static %}
{% load i18n %}
{% load sass_tags %}

{% block bootstrap3_extra_head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% sass_src 'css/register.scss' %}">
{% endblock %}

{% block content %}
<form action="{% url 'register' %}" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% trans 'submit' %}
        </button>
    {% endbuttons %}
</form>
{% endblock %}