{% extends 'base.html' %}

{% load bootstrap3 %}
{% load static %}
{% load i18n %}

{% block title %}
    <a style="color: #000;" href="{% url 'ratings' %}">{{ title }}</a>
{% endblock %}

{% block content %}
<form style="width: 40%;margin: auto;padding-top: 2em" action="{% url 'register' %}" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% trans 'submit' %}
        </button>
    {% endbuttons %}
</form>
{% endblock %}