{% extends 'base.html' %}

{% load bootstrap3 %}
{% load static %}
{% load i18n %}

{% block bootstrap3_extra_head %}
    <script src="{% static "js/sorttable.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/tables.css' %}">
{% endblock %}

{% block content %}
    <h1 style="text-align: center;width: 1100px;">
        Search
    </h1>
    <br><br><br>
    <form action="{% url 'search' %}" method="get">
    <div align="center">
        <table>
            {{ form.as_table }}
            <tr>
                <td colspan="2">
                    <input type="submit" name="submit" value="Search">
                </td>
            </tr>
        </table>


    </div>
    </form>
    <br>
    <br>
{% endblock %}
