{% extends 'base.html' %}

{% load bootstrap3 %}
{% load static %}
{% load i18n %}
{% load sass_tags %}

{% block bootstrap3_extra_head %}
    {{ block.super }}
    <script src="{% static "js/sorttable.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% sass_src 'css/search.scss' %}">
{% endblock %}

{% block content %}
    <form class="form-horizontal" action="{% url 'search' game=game %}" method="get">
        <table class="table table-bordered">
            <tbody>
                {% for field in form %}
                    <tr class="form-row">
                        <td class="form-label">{{ field.label_tag }}</td>
                        {% if 'RATING' in field.label_tag or 'DIFFICULTY' in field.label_tag %}
                            <td class="selector-field">{{ field }}</td>
                        {% else %}
                            <td class="normal-field">{{ field }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="2">
                        <input type="submit" name="submit" value="Search">
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
{% endblock %}
