{% extends 'base.html' %}

{% load bootstrap3 %}
{% load static %}
{% load i18n %}

{% block bootstrap3_extra_head %}
    <script src="{% static "js/sorttable.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/tables.css' %}">
{% endblock %}

{% block content %}
    <br><br><br>
    <form action="{% url 'search' game=game %}" method="get">
    <div align="center">
    <table>
        {% for field in form %}
            <tr class="form-row">
            <td class="form-label">
                {{ field.label_tag }}
            </td>
            {% if 'RATING' in field.label_tag or 'DIFFICULTY' in field.label_tag %}
                <td class="form-field-selector">{{ field }}</td>
            {% else %}
                <td class="form-field">{{ field }}</td>
            {% endif %}

            </tr>
        {% endfor %}
        <tr>
            <td colspan="2">
                <input type="submit" name="submit" value="Search">
            </td>
        </tr>
    </table>
{#        <table>#}
{#            {{ form.as_table }}#}
{#            <tr>#}
{#                <td colspan="2">#}
{#                    <input type="submit" name="submit" value="Search">#}
{#                </td>#}
{#            </tr>#}
{#        </table>#}


    </div>
    </form>
    <br>
    <br>
{% endblock %}
