{% extends 'base.html' %}

{% load bootstrap3 %}
{% load static %}
{% load i18n %}
{% load sass_tags %}

{% block bootstrap3_extra_head %}
    {{ block.super }}
    <script src="{% static "js/sorttable.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% sass_src 'css/user.scss' %}">
    <link rel="stylesheet" type="text/css" href="{% sass_src 'css/iidx-table.scss' %}">
    <link rel="stylesheet" type="text/css" href="{% sass_src 'css/ddr-table.scss' %}">
{% endblock %}

{% block content %}

{% if iidx_reviews %}
<h1>IIDX REVIEWS</h1>
<div class="table-responsive">
    <table class="sortable table table-bordered">
        <thead>
            <tr>
                <th>{% trans 'SONG TITLE' %}</th>
                <th>LV</th>
                <th>{% trans 'REVIEW TEXT' %}</th>
                <th>{% trans 'RECOMMENDED OPTIONS' %}</th>
                <th>{% trans 'NC RATING ' %}</th>
                <th>{% trans 'HC RATING ' %}</th>
                <th>{% trans 'EXHC RATING ' %}</th>
                <th>{% trans 'SCORE RATING ' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for review in iidx_reviews %}
            <tr>
                <td class="title">
                    <a href="{% url 'chart' chart_id=review.chart_id%}">{{ review.title }}<b> [{{ review.type_display }}]</b></a>
                </td>

                {% if 'N' in review.type_display %}
                    <td class="lv normal">
                {% elif 'H' in review.type_display%}
                    <td class="lv hyper">
                {% else %}
                    <td class="lv another">
                {% endif %}
                    {{ review.difficulty }}★
                    </td>
                <td class="reviewtext">
                    {{ review.text }}
                        {% if review.characteristics %}
                            {% if review.text %}
                                <br>
                            {% endif %}
                            {% for item in review.characteristics %}
                                {% if forloop.first and forloop.last %}
                                    <b>(</b><b style="color: {{ item.1 }}">{{ item.0 }}</b><b>)</b>
                                {% elif forloop.last %}
                                    <b style="color: {{ item.1 }}">{{ item.0 }}</b><b>)</b>
                                {% elif forloop.first%}
                                    <b>(</b><b style="color: {{ item.1 }}">{{ item.0 }}</b><b>,</b>
                                {% else %}
                                    <b style="color: {{ item.1 }}">{{ item.0 }}</b><b>,</b>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                </td>
                <td class="options">{{ review.recommended_options }}</td>
                <td class="nc">{{ review.clear_rating | default:"--" }}</td>
                <td class="hc">{{ review.hc_rating | default:"--" }}</td>
                <td class="exhc">{{ review.exhc_rating | default:"--" }}</td>
                <td class="score">{{ review.score_rating | default:"--" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endif %}

{% if ddr_reviews %}
<h1>DDR REVIEWS</h1>
<div class="table-responsive">
    <table class="sortable table table-bordered">
        <thead>
            <tr>
                <th>{% trans 'SONG TITLE' %}</th>
                <th>LV</th>
                <th>{% trans 'REVIEW TEXT' %}</th>
                <th>{% trans 'RECOMMENDED SPEED MOD' %}</th>
                <th>{% trans 'CLEAR RATING ' %}</th>
                <th>{% trans 'SCORE RATING ' %}</th>
            </tr>
        </thead>
        <tbody>
        {% for review in ddr_reviews %}
        <tr>
            <td class="title"><a href="{% url 'chart' chart_id=review.chart_id%}">{{ review.title }}<b> [{{ review.type_display }}]</b></a></td>
            {# Get color based on difficulty - BEG, BSP, DSP, ESP, CSP/DP #}
            {% if 'G' in review.type_display %}
                <td class="lv beginner">
            {% elif 'B' in review.type_display %}
                <td class="lv basic">
            {% elif 'C' in review.type_display %}
                <td class="lv challenge">
            {% elif 'E' in review.type_display %}
                <td class="lv expert">
            {% else %}
                <td class="lv difficult">
            {% endif %}
            {{ review.difficulty }}★
                </td>
            <td class="reviewtext">
                {{ review.text }}
                    {% if review.characteristics %}
                        {% if review.text %}
                            <br>
                        {% endif %}
                        {% for item in review.characteristics %}
                            {% if forloop.first and forloop.last %}
                                <b>(</b><b style="color: {{ item.1 }}">{{ item.0 }}</b><b>)</b>
                            {% elif forloop.last %}
                                <b style="color: {{ item.1 }}">{{ item.0 }}</b><b>)</b>
                            {% elif forloop.first%}
                                <b>(</b><b style="color: {{ item.1 }}">{{ item.0 }}</b><b>,</b>
                            {% else %}
                                <b style="color: {{ item.1 }}">{{ item.0 }}</b><b>,</b>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
            </td>
            <td class="options">{{ review.recommended_options }}</td>
            <td class="nc">{{ review.clear_rating | default:"--" }}</td>
            <td class="score">{{ review.score_rating | default:"--" }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endif %}

{% if form %}
<form class="user-details-form" action="{% url 'users' %}?id={{ request.user.id }}" method="post">
    {% csrf_token %}
        <div class="user-help-text">{% trans 'edit your info here.' %}</div><br>
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} Submit
        </button>
    {% endbuttons %}
</form>
{% endif %}

{% endblock %}