{% extends 'base.html' %}

{% load bootstrap3 %}
{% load static %}
{% load i18n %}
{% load sass_tags %}

{% block bootstrap3_extra_head %}
    {{ block.super }}
    <script src="{% static "js/sorttable.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% sass_src 'css/user-list.scss' %}">
{% endblock %}

{% block content %}

<div class="help-text">
    {% trans 'click a username to view their reviews.' %}
</div>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>{% trans 'USERNAME' %}</th>
                <th>DJ NAME</th>
                <th>DANCER NAME</th>
                <th>{% trans 'PLAYSIDE' %}</th>
                <th>{% trans 'MOST INSANE TECHNIQUES' %}</th>
                <th>{% trans 'LOCATION' %}</th>
            </tr>
        </thead>
        <tbody>
        {% for user_item in users %}
            <tr>
                <td><a href="{% url 'users' user_id=user_item.user_id %}">{{ user_item.username }}</a></td>
                <td>{{ user_item.dj_name }}</td>
                <td>{{ user_item.dancer_name }}</td>
                <td>{{ user_item.playside }}</td>
            <td>
                {% for game, techs in user_item.best_techniques.items %}
                    <b>{{ game }}:</b> {{ techs }}<br>
                {% endfor %}
            </td>
            <td>{{ user_item.location }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}