{% extends 'base.html' %}

{% load bootstrap3 %}
{% load static %}
{% load i18n %}

{% block title %}
    <a style="color: #000;" href="{% url 'users' %}">{{ title }}</a>
{% endblock %}

{% block bootstrap3_extra_head %}
    <script src="{% static "js/sorttable.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/tables.css' %}">
{% endblock %}

{% block content %}

<table class="sortable" border="1" align="center" style="width:98%;table-layout: fixed;word-wrap: break-word">
        <tr style="line-height: 15px;font-size: small;
        color: #ffffff;font-weight: 600;padding: 10px;text-align: match-parent">
            <td style="background-color: #3d393f;width: 20%;">{% trans 'SONG TITLE' %}</td>
            <td style="background-color: #3d393f;width: 5%;">LV</td>
            <td style="background-color: #3d393f;width: 25%">{% trans 'REVIEW TEXT' %}</td>
            <td style="background-color: #3d393f;width: 12%;">{% trans 'RECOMMENDED OPTIONS' %}</td>
            <td style="background-color: #3d393f;width: 7%;">{% trans 'NC RATING' %}</td>
            <td style="background-color: #3d393f;width: 7%;">{% trans 'HC RATING' %}</td>
            <td style="background-color: #3d393f;width: 7%;">{% trans 'EXHC RATING' %}</td>
            <td style="background-color: #3d393f;width: 7%;">{% trans 'SCORE RATING' %}</td>
        </tr>
    {% for review in reviews %}
        <tr style="line-height: 150%">
            <td style="width: 14em"><a style="color: #000" href="{% url 'chart' %}?id={{ review.chart_id }}">{{ review.title }}<b> [{{ review.type_display }}]</b></a></td>

            {% if 'N' in review.type_display %}
                <td class="lv_col" style="color: #1822d6;">
            {% elif 'H' in review.type_display%}
                <td class="lv_col" style="color: #a69b43;">
            {% else %}
                <td class="lv_col" style="color: #c62c4a;">
            {% endif %}
            <b>{{ review.difficulty }}★</b>
                </td>
            <td class="reviewtext_col">
                {{ review.text }}
                    {% if review.characteristics %}
                        {% if review.text %}
                            <br>
                        {% endif %}
                        {% for item in review.characteristics %}
                            {% if forloop.first and forloop.last %}
                                <b>(</b><b style="color: {{ item.1 }}">{{ item.0 }}</b><b>)</b>
                            {% elif forloop.last %}
                                <b style="color: {{ item.1 }}">{{ item.0 }}</b><b>)</b>
                            {% elif forloop.first%}
                                <b>(</b><b style="color: {{ item.1 }}">{{ item.0 }}</b><b>,</b>
                            {% else %}
                                <b style="color: {{ item.1 }}">{{ item.0 }}</b><b>,</b>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
            </td>
            <td class="options_col">{{ review.recommended_options }}</td>
            <td class="nc_col">{{ review.clear_rating | default:"--" }}</td>
            <td class="hc_col">{{ review.hc_rating | default:"--" }}</td>
            <td class="exhc_col">{{ review.exhc_rating | default:"--" }}</td>
            <td class="score_col">{{ review.score_rating | default:"--" }}</td>
        </tr>
    {% endfor %}
</table>

    {% if form %}
        <br>
        <form style="width: 40%;margin: auto;padding-top: 2em" action="{% url 'users' %}?id={{ request.user.id }}" method="post">
        {% csrf_token %}
            <div align="center" style="font-weight: 500;line-height: 1.5em">{% trans 'edit your info here.' %}</div><br>
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% bootstrap_icon "star" %} Submit
            </button>
    {% endbuttons %}
</form>
    {% endif %}

{% endblock %}