.login-form-control {
    margin-bottom: 0.625em;

    @media(min-width: 768px) {
        margin-top: 1.5em;
    }
}

.nav-link {
    color: #000;
    padding-right: 0.625em;
    font-weight: 600;
    text-decoration: underline
}

.registered-user {
    color: black;
    text-decoration: underline;
}

.log-out {
    text-decoration: underline;
}