@import '_table';

.username_col {
    width: 10em;
}

.playside_col {
    width: 5em;
}

.reviewtext_col {
    width: 20em;
}

.options_col {
    width: 14em;
}

.form-label label {
    display: block;
    text-align: left;
}

.form-field {
    vertical-align: top;
    text-align: left;
    padding-right: 2em;
}

.form-field-selector {
    vertical-align: top;
    text-align: left;
    padding-left: 5%;
}