.form-label label {
    display: block;
    text-align: left;
}

.form-field {
    vertical-align: top;
    text-align: left;
    padding-right: 2em;
}

.form-field-selector {
    vertical-align: top;
    text-align: left;
    padding-left: 5%;
}

.review-form {
    align-content: center;
    width: 25em;
    margin: auto;

    .help-text {
        text-align: center;
        font-weight: 500;
        margin-bottom: 1.5em;
    }
}