.index-div {
    text-align: center;
    margin-top: 3.125em;
    margin-bottom: 3.125em;
}

.index-link {
    color: #000;
    font-weight: 600;
    font-size: x-large;
    text-decoration: underline;
}
