.chart-help {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.version-level {
    word-spacing: .5em;
    text-align: center;
    a {
        color: black;
    }
    &:first-of-type {
        margin-top: 1.5em;
    }
    &:last-of-type {
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }
}