@import '_table';

.ver_col {
    width: 5%;
}

.lv_col {
    width: 5%;
    text-align: center;
}

.title_col {
    width: 41%;
}

.notecount_col {
    width: 5%;
}

.nc_col {
    @extend .clear-columns;
    background-color: #2df0ff;
}

.hc_col {
    @extend .clear-columns;
    background-color: #ff99a1;
}

.exhc_col {
    @extend .clear-columns;
    background-color: #ffee90;
}

.score_col {
    @extend .clear-columns;
    background-color: #d7e1ff;
}

.bpm_col {
    width: 5%;
}

.ddr-level-beginner {
    color: #1822d6;
}

.ddr-level-basic {
    color: #a69b43;
}

.ddr-level-difficult {
    color: #c62c4a;
}

.ddr-level-expert {
    color: #228b22;
}

.ddr-level-challenge {
    color: #551a8b;
}

.iidx-normal {
    color: #1822d6;
}

.iidx-hyper {
    color: #a69b43;
}

.iidx-another {
    color: #c62c4a;
}

.iidx-clickagain {
    color: #f11137;
}

/* Review page?  */
.username_col {
    width: 10em;
}

.playside_col {
    width: 5em;
}

.reviewtext_col {
    width: 20em;
}

.options_col {
    width: 14em;
}

.form-label label {
    display: block;
    text-align: left;
}

.form-field {
    vertical-align: top;
    text-align: left;
    padding-right: 2em;
}

.form-field-selector {
    vertical-align: top;
    text-align: left;
    padding-left: 5%;
}