table {
    border-color: black;
}

tbody tr:nth-child(odd) {
    background: #e1e1e1;
    text-align: center
}

tbody tr:nth-child(even) {
    background: #FFF
}

.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
    border: 1px solid black;
}


/* Table Header */

thead tr {
    background: #3d393f;
    color: white;
}

thead tr th {
    text-align: center;
    font-size: small;
    font-weight: 600;
    line-height: 15px;
}


/* Table Body */
td {
    padding: 10px;
    text-align: center;
}

td a {
    color: #000000;
}

.ver_col {
    width: 5%;
}

.lv_col {
    width: 5%;
    text-align: center;
}

.title_col {
    width: 41%;
}

.notecount_col {
    width: 5%;
}

.nc_col {
    background-color: #2df0ff;
    width: 5%;
    font-weight: 600;
}

.hc_col {
    background-color: #ff99a1;
    width: 5%;
    font-weight: 600;
}

.exhc_col {
    background-color: #ffee90;
    width: 5%;
    font-weight: 600;
}

.score_col {
    background-color: #d7e1ff;
    width: 5%;
    font-weight: 600;
}

.bpm_col {
    width: 5%;
}

.ddr-level-beginner {
    color: #1822d6;
}

.ddr-level-basic {
    color: #a69b43;
}

.ddr-level-difficult {
    color: #c62c4a;
}

.ddr-level-expert {
    color: #228b22;
}

.ddr-level-challenge {
    color: #551a8b;
}

.iidx-normal {
    color: #1822d6;
}

.iidx-hyper {
    color: #a69b43;
}

.iidx-another {
    color: #c62c4a;
}

.iidx-clickagain {
    color: #f11137;
}

/* Review page  */
.username_col {
    width: 10em;
}

.playside_col {
    width: 5em;
}

.reviewtext_col {
    width: 20em;
}

.options_col {
    width: 14em;
}

.form-label label {
    display: block;
    text-align: left;
}

.form-field {
    vertical-align: top;
    text-align: left;
    padding-right: 2em;
}

.form-field-selector {
    vertical-align: top;
    text-align: left;
    padding-left: 5%;
}